data:
  train_data_path: "data/random_vec_200_center_0.npy"
  val_data_path: "data/random_vec_20_center_0.npy"
  test_data_path: "data/random_vec_20_center_0.npy"
  batch_size: 32
  dimension: 3 # must be 3!
  input_size: 4 #should align with npy files
model:
  pde:
    class_path: "bsnet.base_run.PDE"
    init_args:
      D: 0.1
  bspline:
    class_path: "bsnet.base_run.Spline"
    init_args:
      min_T: 0
      max_T: 1.0
      min_X: 0
      max_X: 1.0
      n_ctrl_pts_time: 15
      n_ctrl_pts_state: 15
      order: 3
      n_points: 21
  model:
    class_path: "bsnet.modules.ControlPointNetA"
    init_args:
      hidden_dim: 128
      hidden_depth: 5 #unused by ControlPointNetA, but kept for standardization
      activation: "relu"
  



optimizer:
  class_path: "torch.optim.Adam"
  init_args:
    lr: 0.0001

trainer:
  accelerator: cpu
  default_root_dir: "experiments"
  enable_checkpointing: true
  log_every_n_steps: 3
  max_epochs: 2000
  logger:
    class_path: lightning.pytorch.loggers.TensorBoardLogger
    init_args:
      save_dir: "experiments/{name}/{run_name}/logs"
  callbacks:
    - class_path: lightning.pytorch.callbacks.TQDMProgressBar
      init_args:
        refresh_rate: 3
    - class_path: lightning.pytorch.callbacks.ModelCheckpoint
      init_args:
        filename: "{epoch:02d}-{valid_loss_epoch:.2f}"
        save_top_k: 3
        monitor: "valid_loss_epoch"
        mode: "min"
        every_n_epochs: 10